@media (max-width: 960px) {
  .workspace {
    grid-template-columns: 1fr;
  }

  .workspace .sidebar {
    border-right: none;
    border-bottom: 1px solid #e2e8f0;
    padding-right: 0;
    padding-bottom: 1rem;
  }

  .export-panel {
    justify-content: stretch;
  }
}

@media (max-width: 640px) {
  .panel {
    padding: 1rem;
  }

  .editor-controls {
    flex-direction: column;
  }

  button {
    width: 100%;
  }
}


